<?php
session_start();
include "../models/ConnectionBD.php";
?>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style_bot.css" rel="stylesheet">
</head>
<body>

<form name="MyForm" method="POST" enctype="multipart/form-data" action="../models/Manager.php">
    <!-- НАВИГАЦИЯ ГЛАВНОГО МЕНЮ-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="../models/Tovar.php">Каталог</a></li>
                    <li><a href="../models/Manager.php">Поставщики</a></li>
                    <li><a href="../models/Order.php">Заказы</a></li>
                    <?php
                    if(isset($_SESSION['roles']) and $_SESSION['roles'] == 3) {
                         echo"<li><a href='../models/Cart.php'>Корзина</a></li>";
                    }
                    ?>
                </ul>
            </div>
        </div>
    </div>

</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>
</body>
</html>